@import './base.css';
@import 'output.css';
#app {
  padding: 1rem;
  font-weight: normal;
  background-color: rgb(199, 255, 199);
  height: 100%; /* Sirve para que se utilice el 100% del alto de la pantalla */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

html,
body {
  height: 100%;
  margin: 0;
}
